<div class="card text-bg-dark">
  <img src="..\..\..\assets\images\hands.jpg" class="card-img">
  <div class="card-img-overlay">
    <h5 class="card-title">Mental Breath</h5>
    <p class="card-text">Ci sono attimi di libertà sparsi nella continuità del tempo che sono talmente belli che danno una sensazione di
      serenità quasi commovente.</p>
    <p class="card-text">Come quando si riesce a respirare profondamente dopo essere stati troppo a lungo sott'acqua: un respiro che rende
      pienamente coscienti della propria esistenza.</p>
    <p class="card-text">Questo è, che salva la mia identità. E vorrei che la mia mente respirasse più spesso, quindi non posso
      permettermi di continuare a combattere silenzioso, da solo, contro qualcosa che mi distrugge da dentro.</p>
    <p class="card-text">Devo guardarmi e rendermi conto che esisto nonostante tutto. E posso continuare a esistere. Ma non da solo.</p>
  </div>
</div>

<div class="card w-100" id="professionista">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..\..\..\assets\images\prof.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Professionista</h5>
        <p class="card-text"><a [routerLink]="['/signup']" class="sign">Iscriviti</a> e organizza un gruppo di auto-mutuo-aiuto con il ruolo di facilitatore!</p>
      </div>
    </div>
  </div>
</div>

<div class="card w-100" id="utente">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Utente</h5>
        <p class="card-text"><a [routerLink]="['/signup']" class="sign">Iscriviti</a> e partecipa a un gruppo di auto-mutuo-aiuto insieme a tante altre persone!</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="..\..\..\assets\images\accept.jpg" class="img-fluid rounded-start">
    </div>
  </div>
</div>

<div class="card h-50" id="sign">
  <img src="..\..\..\assets\images\connect.jpg" class="card-img h-25">
  <div class="card-img-overlay">
    <h5 class="card-title text-dark">Connettiti ora al mondo che ti circonda!</h5>
    <p class="card-text"><button class="btn m-1" [routerLink]="['/login']" routerLinkActive="active">Login</button></p>
    <p class="card-text"><button class="btn m-1" [routerLink]="['/signup']" routerLinkActive="active">Registrati</button></p>
  </div>
</div>

