a, a:link, a:active, a:visited {
  color: #815e5d;
  text-decoration: none;
}

a:hover {
  color: #c4d7db
}

.btn {
  border: 1px solid #815e5d;
  color: #815e5d
}

.exit {
  color: #c4d7db;
  background-color: #815e5d;
}
